/* REGOLE GENERALI */
* {

  box-sizing: border-box;
  font-family: 'sailec',sans-serif;
}

/* nav */

#logo-dg-oc {
  height: auto;
  height: 22px;
  margin-top: 14px;
}

#link-nav-sx li {
  list-style-type: none;
  float:left;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 15px;
}

#link-nav-dx li {
  list-style-type: none;
  float:left;
  padding-top: 15px;
  padding-right: 15px;
  font-size: 15px;
}

.btn-nav {
  float:right;
  height: 30px;
  width: 80px;
  margin-top: 11px;
  border-radius: 5px 5px;
  border-color: #0069ff;
  color: #0069ff;
}




/* jambotron */

.contenuto {
  padding-top: 80px;
  background-image: url(img/home.jpg);
  overflow: auto;
}
/* jumbo SX */
#jumbo-text-sx {
  color: white;
  font-size: 55px;
  font-weight: bold;
}

#jumbo-text-sx-down {
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  padding-bottom: 30px;
}

/* jumbo DX */

.background-jumbo-dx {
  background-color: white;
  height: 295px;
  width: 389px;
  border-radius: 2%;
  float: right;
}

#jumbo-text-dx {
  font-size: 23px;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;

}

.jumbo-a-text-up {
  padding-left: 100px;
  text-align: center;
  font-size: 23px;
  font-weight: bold;
  color:#0069ff;
}

img.logo-gmail {
  height: 30px;
  padding-right: 170px;

}

.form-group {
  width: 350px;
  margin-left: 16px;
}

.btn {
  border: 0;
  width: 350px;
  margin-left: 16px;
  margin-top: 7px;
  background-color: #0069ff;
}

.btn-2 {
  background-image: url(img/gmail.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
  width: 350px;
  margin-left: 16px;
  margin-top: 7px;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 1px 1px rgba(231, 231, 231, 0.78);
}


.terms {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}


/* section brand */

.background-brand {
  background-color: lightgrey;
  height: auto;
}

#docker {
  height: 77px;
  width: 143px;
}

#gitlab {
  height: 78px;
  width: 98px;
}

#slack {
  height: 77px;
  width: 128px;
}

#hashicorp {
  height: 77px;
  width: 156px;
}

#splunk {
  height: 36px;
  width: 120px;
  margin-top: 22px;
}

#text-brand-up {
  font-size: 10px;
  color: grey;
  text-align: center;
}

#text-brand-down {
  font-size: 10px;
  color: #0069ff;
  text-align: center;
  margin: auto;
  display: block;
  padding-bottom: 20px;
}


/* section deploy */

.background-deploy {
  background-color: white;
  height: auto;
}


#text-deploy-up {
  padding-top: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #031b4e;
  text-align: center;
}

#text-deploy-middle {
  font-size: 20px;
  font-weight: 500;
  color: #031b4e;
  text-align: center;
}



.list-deploy {

}



.list-deploy-sx {
  list-style: none;
  border-left: solid lightgrey 3px;
  margin: auto;
  line-height: 65px;

}


/* section design */

.background-design {
  background-color: white;
  border: solid black 1px;
  height: auto;
}

#text-design-up {
  padding-top: 50px;
  font-size: 40px;
  font-weight: bold;
  color: #031b4e;
  text-align: center;
}

#text-design-middle {
  font-size: 20px;
  font-weight: 500;
  color: #031b4e;
  text-align: center;
}

#img-design {
  margin: auto;
  text-align: center;
  height: auto;
  width: 650px;
}

#text-design-down {
  font-size: 15px;
  color: #031b4e;
  text-align: center;
  font-weight: bold;
}

.circle {
  text-align: center;
  color: rgb(16, 108, 204);
}

.fas {
  color: rgb(16, 108, 204);
}















/* section business */




/* section service */




/* section development */




/* section getstarted */



/* footer */
